# node dependecies
client/node_modules
back-end/node_modules

# transpiled client scripts
client/dist/bundle.js*

# API keys and configs
client/firebase.js

.DS_store
/client/config.js
/backend/.env
/backend/db/postgres.sql

/client/src/components/test